html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hideOverflow {
  overflow-x: hidden;
}

.hoverSocial {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.hoverSocial:hover {
  opacity: 0.8;
}

.cursor {
  cursor: pointer;
}